body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  background-color: #000;
  color: #fff !important;
  min-width: 400px;
}

.container { 
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 2rem 0;
}

header img.logo {
  height: 25px;
}

header nav {
  gap: 1rem;
}

header nav a {
  text-decoration: none;
  color: #fff !important;
}

header .search {
  gap: 0.8rem;
}

header .search input {
  background-color: #000;
  border-style: solid;
  border-width: 1px;
  padding: 2px 10px;
  border-radius: 0.3rem;
}

header .search i {
  font-size: 1.2rem;
}

main {
  background: linear-gradient(
      132deg,
      rgb(35 35 41) 0%,
      rgb(22 21 24 / 23%) 51%,
      rgb(18 18 11) 100%
    ),
    url(../img/arkaplan.jpg) no-repeat center center / cover;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  aspect-ratio: 2/1;
}

main .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.hero-content .movie-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}

.hero-content .movie-info .stars {
  color: gold;
}

.hero-content .movie-info .age {
  border: 1px solid #fff;
  border-radius: 0.3rem;
  padding: 2px 4px;
}

.hero-content p {
  width: 80%;
  line-height: 150%;
}

.hero-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hero-content ul > li > span.text {
  color: red;
  font-weight: 600;
  margin-right: 0.5rem;
}

.hero-content a {
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2rem;
}

.hero-content a:hover {
  background-color: #000;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}

section .title a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #fff;
  transition: 0.3s;
}

section .title a:hover {
  color: red; 
}

section .items {
  gap: 1rem;
}

.items .item img {
  width: 100%;
  border-radius: 0.5rem;
}

.items .item {
  position: relative;
}

.item .item-info {
  position: absolute;
  
  left: 10px;
  gap: 2rem;
}

.item .item-info a {
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  background-color: black;
  color: #fff;
}

.item-info a:hover {
  background-color: red;
}

.items .item-info .age {
  border: 1px solid #fff;
  border-radius: 0.3rem;
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.item-span {
  font-size: 0.8rem;
  background-color: black;
  color: #fff;
  padding: 5px 10px;     
  border-radius: 0.3rem;     
}

footer {
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

footer div:first-child {
  width: 60%;
}

footer nav a {
 text-decoration: none;
 color: #fff;
 transition: 0.3s;
}

footer nav a:hover {
 color: red;
}

footer .copyright {
  text-align: justify;
  margin-top: 1rem;
}
   
.social img,
 .apps img {
  height: 30px;
}

@media (max-width: 900px) {
  .container {
    padding: 0 1rem;
  }
}
@media (max-width: 750px) {
  header {
    flex-wrap: wrap;
  }
  header nav {
    order: 3;
    width: 60%;
    margin: 2rem auto 0;
  }
  .hero-content p {
    width: 100%;
    text-align: justify;
  }

  .items {
    flex-wrap: wrap;
  }

  .items .item {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  footer {
    flex-wrap: wrap;
    gap: 2rem;
  }

  footer div:first-child {
    width: 100%;
  }
}
